#display {
  display: grid;
  grid-template: auto auto auto / repeat(3, 1fr);
  gap: 20px;
}

.drum-pad {
  height: 48px;
  width: 48px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
